* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  font-family: "Quicksand", sans-serif;
}

.mainPageStyling {
  display: grid;
  grid-template:
    "header header header" 10vh
    /* " nftHeader nftHeader nftHeader" 5vh */
    " nfts nfts nfts" 80vh
    " jdwFooter jdwFooter jdwFooter" 10vh/
    1fr 1fr 3fr;
}

.header {
  grid-area: header;
}

/* .dapps {
  grid-area: dapps;

  border: 1px solid black;
  background-color: black;
} */

.nfts {
  grid-area: nfts;
  /* border: 1px solid black; */
  display: -webkit-inline-box;
  padding: 10px;
  overflow: scroll;
  /* margin: 10px; */
  /* background-color: rgba(0, 0, 0, 0.301); */
  background-color: currentcolor;
  text-align: center;
}

.jdwFooter {
  grid-area: jdwFooter;
  border: 1px solid rgba(0, 0, 0, 0.329);

  background-color: black;
}
