* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
}

.mainPageStyling {
  display: grid;
  grid-template:
    "header header header" 15vh
    " dapps nftHeader nftHeader" 5vh
    " dapps nfts nfts" 75vh
    " news news news" 5vh/
    1fr 1fr 3fr;
}

.header {
  grid-area: header;
}

.dapps {
  grid-area: dapps;

  border: 1px solid black;
  background-color: black;
}

.nfts {
  grid-area: nfts;
  /* border: 1px solid black; */
  display: -webkit-inline-box;
  padding: 10px;
  overflow: scroll;
  margin: 10px;
}

.news {
  grid-area: news;
  border: 1px solid black;
}
