.header {
  background-color: black;
}

.loginHeader {
  color: white;
  display: flex;
  justify-content: space-evenly;

  /* margin-top: 40px; */
  /* border-bottom: 1px solid white; */
  padding: 30px;
}

.header__copy {
  color: white;
  display: flex;
  justify-content: space-evenly;
  /* padding: 8px; */
}

.adminHeaderCopy {
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
}

.login {
  color: white;
  display: flex;
  justify-content: space-evenly;
  /* padding: 8px; */
  /* margin-right: 161px; */
}

.loginHeaderButton {
  cursor: pointer;
}

/* header font styling */

.jdw__collect {
  color: lightpink;
}

.blockchain {
  color: lightskyblue;
}

.header__copy {
  color: lightgreen;
}

.loginHeaderButton {
  color: lightcoral;
}
