.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2ch;
}

.modal {
  position: relative;
  background-color: rgba(0, 0, 0, 0.575);
  width: 20%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  text-align: center;
  padding-bottom: 2ch;
}

.dappLogoFromApi,
.dappDescFromApi,
.dappLinksFromApi,
.dappNumOfFromApi,
.dappBlockChainFromApi,
.nftModalCopy {
  color: white;
}

.modalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
