/* below fucks up all modals */

/* .modal {
  display: table;
} */

.nftArtModal {
  border: 1px solid black;
  width: 80vw;
  height: 80vh;
  border-radius: 10px;
  background-color: white;
  padding: 35px;
  display: grid;
  grid-template:
    "artInfo buyInfo" 80vh
    "adminbuttons adminbuttons" 20vh/
    1fr 1fr;
}

.artInfo {
  grid-area: artInfo;
}
.buyInfo {
  grid-area: buyInfo;
}
.adminbuttons {
  grid-area: adminbuttons;
  height: 40px;
}

.nftImageLarge {
  border-radius: 10px;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.411);
  width: 500px;
}

.nftArtModalCopy {
  /* font-family: "Jost", sans-serif; */
  font-size: 1rem;
  padding: 5px;
  /* color: black; */
  margin-top: 20px;
}

.adminbuttons {
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
  margin-top: 50px;
}

.namefieldloginBuy__modal,
.lastNamefieldloginBuy__modal,
.emailfieldloginBuy__modal,
.walletAddressfieldloginBuy__modal {
  margin-bottom: 10px;
  margin-top: 10px;
}

.buyInput {
  width: 65%;
}

.youAreSendingCopy {
  margin-bottom: 20px;
  margin-top: 20px;
}

.etheriumAddress {
  font-weight: 900;
}
.checkYourInfoCopy {
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
}

.checkYourInfoCopy2 {
  font-size: smaller;
}

.purchaseCheckButton {
  margin-top: 30px;
}

.createNftButton,
.updateNftbutton,
.deleteNftbutton {
  background-color: red;
  color: white;
}
