.nftSearchForm {
  display: -webkit-inline-box;
  padding: 3px;
  /* background-color: black; */
}

.nftPriceListSearch,
.nftCreatedListSearch,
.nftDappListSearch,
.nftNameSearch {
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
  margin-left: 10%;
  /* color: white;
  background-color: black; */
}
